@import 'classes';



/*** ELEMENTS ***/

html {
  height: 100%;
  overflow-y: scroll;
}



/*** COMMON STUFF ***/

ul.works {
  .clear;
  margin: 0;
	padding: 0;

	li {
		float: left;
		line-height: 0;
		list-style: none;
		margin: @lh @lh 0 0;
		
		img {
			border: 1px solid (@orange + #222);
			width: @lh * 4 - 2;
		}
	}
	
  li.current_item span,
	a:hover {
		border-bottom: 1px solid white;	  
	}

	a:hover img {
	  border-color: white;
	}
}

#page_container {
	.clear;
/*  background: url(../images/grid.png);*/
	margin: 0 auto;
	max-width: @w-container;
	min-width: @lh * 15;
}

#page_content {
	.clear;
}

#contact {
  display: none;
}

#page_footer {
	color: @orange - #222;
}



/*** PAGE-SPECIFIC ***/

#index {
  background: @orange url(../images/noise.png) center top;
	color: white;
	padding: @lh;
  text-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
	
	a {
		color: @orange-light;
	}
	
	strong,
	em {
	  color: inherit;
	}
	
	input[type="submit"] {
	  background-color: @bc-submit-hover;
	}
	
	#page_header,
	#biography,
	#page_footer {
	  border-left: 1px solid (@orange + #222);
	  border-right: 1px solid transparent;
    margin: @lh 0 0 auto;
    padding: 0 (@lh - 1);
		width: @lh * 13;
	}
	
	#page_header,
	#page_footer {
	  border-color: transparent;
	}
	
	#page_header {
	  margin-top: 0;
	}
	
	#page_title {
	  background: url(../images/logo_medium.png) no-repeat left top;
	  height: @lh * 4;
	  margin: 0;
	  text-indent: -9999px;
	  width: @lh * 13;
	}
	
	#site_navigation {
	  .hide_element;
	}
	
	#biography,
	#works {	  
		header {
			.hide_element;
		}
	}
	
	#biography {
	  float: right;
	  
	  p:last-child {
	    margin-bottom: 0
	  }
	  
		img {
		  vertical-align: top;
	  }
	}
	
  #page_footer {
    font-size: @fs-blockquote;
    text-indent: 2px;
    text-shadow: rgba(0, 0, 0, .1) 0 0 1px;
  }
}



#works_show {
  background: @grey-light url(../images/noise.png) center top;
  padding: 0;
  
  #page_container {
    max-width: none;
  }
  
	#page_header #page_title, 
	#page_header nav, 
	#page_content,
	#page_footer {
	  margin: 0 auto;
	  width: @w-container;
	}
  
	#page_header {
    background: @orange url(../images/noise.png) center top;
	  margin-bottom: @lh * 2;
	  min-width: @w-container;
    padding: @lh 0;

    #page_title {
      position: relative;
  
    	a {
    	  background: url(../images/logo_medium.png) no-repeat left top;
    	  display: block;
    	  height: @lh * 4;
    	  position: absolute;
    	  right: @lh;
    	  text-indent: -9999px;
    	  top: 0;
    	  width: @lh * 13;
    	}
	  }
	  
  	nav {

    	#site_navigation {
    	  .hide_element;
    	}
  	
    	#work_navigation {
    	  
    	  li {
          margin-top: 0;
        }
        
        li.previous_item a:hover {
          border-bottom-width: 5px;
          -webkit-border-image: url(../images/arrow_thin_left.png) 0 0 5 0;
        }
        
        li.next_item a:hover {
          border-bottom-width: 5px;
          -webkit-border-image: url(../images/arrow_thin_right.png) 0 0 5 0;
        }
        
        li.first_item {
          border: 1px solid (@orange + #222);
          color: (@orange + #333);
          font-size: @fs-blockquote;
  				height: @lh * 3 - 2;
          line-height: @lh;
          padding-top: @lh;
          text-align: center;
          text-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
  				width: @lh * 4 - 2;
        }
    	}
  	}
  }
	
  #work_details {
    float: right;
    margin: @lh @lh 0;
    width: @lh * 13;
    
    h1 {
      font-size: @fs-h3;
      line-height: @lh;
    }
  }

  #work_images {
    
    ul {
      padding-left: 0;
    
      li {
        line-height: 0;
        list-style: none;
        margin-bottom: @lh;
        
        img {
          max-width: @lh * 24;
        }
      }
    }
  }
}