@import 'variables';



/*** ELEMENTS ***/

body {
	padding: 0;
}

#document_container {
	margin: 0 auto;
	max-width: @w-container;
}



/*** PAGE-SPECIFIC ***/


/** INDEX **/

#index {
	background: @orange;
	color: white;
	
	a {
		color: @orange-dark;
	}
}