%section#contact
  %header
    %h2 
      Contact Me
  %form{ :id => 'contact_form', :action => '/contact', :method => :post }
    %dl.name.required
      %dt
        %label{ :for => 'contact_name' }
          Name
      %dd
        %input#contact_name{ :type => 'text', :required => true }
    %dl.email.required
      %dt
        %label{ :for => 'contact_email' }
          Email
      %dd
        %input#contact_email{ :type => 'email', :required => true }
    %dl.tel
      %dt
        %label{ :for => 'contact_tel' }
          Phone
      %dd
        %input#contact_tel{ :type => 'tel' }
    %dl.message.required
      %dt
        %label{ :for => 'contact_message' }
          Message
      %dd
        %textarea#contact_message{ :cols => 40, :rows => 10, :required => true }
    %div.submit
      %input{ :type => 'submit', :value => 'Send Message' }
