%ul#work_navigation.works
  
  - if @work.previous_item
    %li.previous_item.work
      %a{ :href => "/works/#{ @work.previous_item.slug }", :title => strip_tags(@work.previous_item.title) }
        %img{ :src => @work.previous_item.image_thumbnail, :alt => strip_tags(@work.previous_item.title) }
  - else
    %li.first_item
      This is the first work
  
  - if false
    %li.current_item.work{ :title => strip_tags(@work.title) }
      %span
        %img{ :src => @work.image_thumbnail, :alt => strip_tags(@work.title) }

  - if @work.next_item
    %li.next_item.work
      %a{ :href => "/works/#{ @work.next_item.slug }", :title => strip_tags(@work.next_item.title) }
        %img{ :src => @work.next_item.image_thumbnail, :alt => strip_tags(@work.next_item.title) }
  - else
    %li.last_item
      This is the last work

  - if false #else
    %li.last_item.contact
      %a{ :href => '#contact', :title => 'Contact Me &rarr;' }
        Contact Me
