%section#biography
  %header
    %h2
      Biography
  :textile
    Hello, my name is *Matt*. I live just outside of Chicago, and am currently *accepting contract work* in _design_ and _web development_.

    I am an advocate of _web standards_ and prefer to use _Ruby frameworks_ for website build-out. Some day I’m going to found my own college and teach web development the right way. With any luck, I will set aside time to paint again. Maybe even go fly fishing.

%section#works
  %header
    %h2
      Works
  = partial :'works/work', :collection => @works
