!!! Strict
%html
  %head
    %title= page_title
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{ :rel => 'stylesheet', :href => '/stylesheets/screen.css', :type => 'text/css', :media => 'screen, projection' }
  %body
    #container
      #header
        %h1= page_title
      = yield
      #footer
        %p= ti "(c) 2009 Matt Puchlerz"