!!! Strict
%html
  %head
    %title= page_title
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css', :media => 'screen, projection' }
  %body
    #content= yield