!!!Strict
%html
  %head
    %title= ti "Matt Puchlerz -- Designer & Web Developer"
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css', :type => 'text/css', :media => 'screen, projection' }
  %body
    #content= yield