.work
  %h3.title
    %a{ :href => "/works/#{ work.id }" }
      :textileinline
        #{ work.title }
  .description
    :textile
      #{ work.description }
  %ul.images
    = partial :'works/work_image', { :collection => work.images }, { :work => work }