%h1 Edit Work

%nav
  %ul#crud_navigation
    %li
      %a{ :href => url_for_works_index }
        Work Index
    %li
      %strong
        Edit Work

%form{ :action => url_for_works_show(@work), :method => :post }
  %dl
    %dt
      Title
    %dd
      %input{ :type => 'text', :name => 'title', :value => @work.title }
  %dl
    %dt
      Slug
    %dd
      %input{ :type => 'text', :name => 'slug', :value => @work.slug }
  %dl
    %dt
      Description
    %dd
      %textarea{ :name => 'description', :cols => 45, :rows => 15 }
        = @work.description
  %p.submit
    %input{ :type => 'hidden', :name => '_method', :value => 'put' }
    %input{ :type => 'submit', :value => 'Save Work' }
