%h1 Work Index

%nav
  %ul#crud_navigation
    %li
      %strong
        Work Index
    %li
      %a{ :href => url_for_works_new }
        New Work

%p.count
  %strong
    = @works.length
  Total

%table{ :border => 1 }
  %thead
    %tr
      %th
        ID
      %th
        Title
      %th
        Slug
      %th
  %tbody
    - @works.each do |work|
      %tr
        %td
          = work.id
        %td
          = work.title
        %td
          = work.slug
        %td
          %a{ :href => url_for_works_edit(work) }
            Edit